
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	// padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
	// display: -webkit-box;
	// display: -moz-box;
	// display: -ms-flexbox;
	// display: -webkit-flex;
	// display: flex;
	// justify-content: space-between;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	padding-top: 30px;
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	&__slider_wrapper {
		position: relative;
	}
}
.content .content__slider_wrapper {
	max-width: 1354px;
	margin: 0 auto;
	.slider img {
		max-width: 100%;
	}
	margin-bottom: 30px;
}
.dot {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #eedcc4;
	cursor: pointer;
}
.slick-active .dot {
	background-color: #cb944c;
}
.slick-dots {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -60px;

}
.slick-dots li {
	display: inline-block;
	padding: 0 10px;
}
.prev {
	width: 37px;
	height: 128px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #d2a66b;
	top: 0;
	margin: auto 0;
	z-index: 100;
	cursor: pointer;
	transition: all .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 42px;
	padding-right: 5px;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #cb944c;
	}
}
.next {
	@extend .prev;
	left: auto;
	right: 0;
	padding-right: 0;
	padding-left: 5px;
}
.slider_item {
	position: relative;
}
.slider_desc {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 128px;
	background-color: rgba(210,166,107,.85);
	width: 100%;
	max-width: 500px;
	left: 70px;
	display: flex;
	align-items: center;
	padding-left: 32px;
	p {
		color: #fff;
		font-size: 42px;
		line-height: 48px;
		span {
			text-transform: uppercase;
		}
	}
	
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1500px) {
	.content .content__slider_wrapper {
		max-width: 1170px;
	}
}
@media screen and (max-width: 1200px) {
	.content .content__slider_wrapper {
		max-width: 950px;
	}
	.prev, .next  {
		height: 100px;
	}
	.slider_desc {
		height: 100px;
		max-width: 420px;
		padding-left: 22px;
		p {
			font-size: 36px;
			line-height: 40px;
		}
	}
}

@media screen and (min-width: 992px){
	
}
@media screen and (max-width: 991px) {
	.content .content__slider_wrapper {
		max-width: 750px;
	}
	.prev, .next  {
		height: 65px;
	}
	.slider_desc {
		height: 65px;
		max-width: 288px;
		padding-left: 18px;
		p {
			font-size: 24px;
			line-height: 24px;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.content {
		padding-top: 20px;
	}
	.prev, .next {
		height: 28px;
		font-size: 16px;
		width: 20px;
	}
	.slider_desc {
		left: 30px;
	}
	.slick-dots {
		display: none!important;
	}
	
	
}
@media screen and (max-width: 600px) {
	.slider_desc {
		max-width: 180px;
		height: 50px;
		p {
			font-size: 14px;
			line-height: normal;
			padding: 0;
		}
	}
	.content .content__slider_wrapper .slider img {
		width: 100%;
	}
}