
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	width:100%;
	min-width: $min-width;
	text-align:left;
	order: 1;
	-webkit-order: 1;
	max-width: 1240px;
	margin: 0 auto;
	padding: 28px 12px 0;
}
header input::-webkit-input-placeholder {
	font-size: 14px;
	color: #b8b8bd;
}

header input::-moz-placeholder {
	font-size: 14px;
	color: #b8b8bd;
}

header input:-ms-input-placeholder {
	font-size: 14px;
	color: #b8b8bd;
}

header input:-moz-placeholder {
	font-size: 14px;
	color: #b8b8bd;
}
.header__logo {
	float: left;
	max-width: 290px;
	width: 100%;
	padding-top: 4px;
}
.header__search {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 496px;
	float: left;
	&__search {
		height: 40px;
		border-radius: 4px;
		border: 1px solid #b8b8bd;
		width: 100%;
		text-indent: 10px;
	}
	&__submit {
		border: 0;
		position: absolute;
		-webkit-appearance: none;
		width: 40px;
		height: 100%;
		background-color: transparent;
		top: 0;
		z-index: 1;
		right: 0;
		background-image: url(../img/search_icon.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}
.mobile_menu {
	display: none;
	margin-bottom: 15px;
	height: 40px;
	&__items {
		height: 100%;
		padding-left: 54px;
		width: 100%;
		ul {
			list-style-type: none;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 100%;
		}
	}
}
.mobile_menu:after {
	display: table;
	content: "";
	clear: both;
}
.header__contact {
	float: right;
	padding-top: 5px;
	font-size: 14px;
	&--work_time {
		float: right;
		margin-left: 12px;
		color: #747688;
		span {
			color: #cb944c;
			display: inline-block;
			margin-bottom: 4px;
		}
	}
	&--phone {
		font-size: 23px;
		color: #000;
		float: left;
	}
}
.header__nav {
	height: 55px;
	border-bottom: 1px solid #dddfdf;
	border-top: 1px solid #dddfdf;
	margin: 15px -12px 0;
	line-height: 55px;
	text-transform: uppercase;
	&__menu {
		list-style-type: none;
		position: relative;
		float: left;
		li {
			display: inline-block;
			padding: 0 12px;
			color: #171717;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
			position: relative;
			&:first-child {
				padding: 0 30px;
				&:after {
					width: 11px;
					height: 7px;
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					right: 10px;
					background-image: url("../img/icon_2.png");
				}
				&:before {
					content: "";
					position: absolute;
					width: 16px;
					height: 12px;
					background-image: url("../img/icon_1.png");
					top: 0;
					bottom: 0;
					margin: auto;
					left: 5px;
				}
			}
			&:hover .header__nav__menu__submenu{
				display: block;
			}
			.header__nav__menu__submenu {
				display: none;
				border-radius: 3px;
				box-shadow: 2px 3px 1px rgba(108,104,104,.33);
				position: absolute;
				background-color: #fff;
				border: 1px solid #dddfdf;
				z-index: 300;
				width: 200%;
				max-width: 244px;
				top: 65px;
				left: 0;
				padding: 8px 0;
				&:before {
					width: 100%;
					content: "";
					height: 30px;
					top: -25px;
					position: absolute;
					cursor: normal;
					z-index: 3;
				}
				&__next {
					display: none;
					padding: 8px 0;
					position: absolute;
					left: 101%;
					top: -5px;
					background-color: #fff;
					width: 100%;
					max-width: 244px;
					border-radius: 3px;
					box-shadow: 2px 3px 1px rgba(108,104,104,.33);
					position: absolute;
					background-color: #fff;
					border: 1px solid #dddfdf;
					li.submenu_header {
						text-transform: uppercase;
						font-size: 16px;
						color: #cb944c;
						padding-left: 12px;
						&:before {
							display: none;
						}
						&:after {
							display: none;
						}
					}
				}
				li {
					display: block;
					color: #666666;
					font-size: 15px;
					padding: 7px 0 7px 32px;
					position: relative;
					font-weight: normal;
					line-height: normal;
					text-transform: none;
					transition: background-color .3s;
					&:hover {
						background-color: #e9e9ea;
					}
					&:before {
						content: "";
						position: absolute;
						width: 6px;
						height: 6px;
						background-image: url("../img/submenu_icon.png");
						top: 14px;
						margin: 0;
						left: 13px;
					}
				}
				li.has_submenu:after {
					position: absolute;
					width: 7px;
					height: 11px;
					right: 16px;
					top: 10px;
					content: "";
					background-image: url("../img/menu_right.png");
				}
			}
		}
	}
	&__login {
		@extend .header__nav__menu;
		float: right;
		li {
			color: #252a54;
			&:first-child {
				padding: inherit;
			}
			&:last-of-type img {
				margin-right: 10px;
			}
			&:after {
				display: none;
			}
			img {
				position: relative;
				top: 4px;
			}
			.basket_quantity {
				width: 23px;
				height: 21px;
				-webkit-border-radius: 11px 12px 12px 11px/10px 10px 11px 11px;
				-moz-border-radius: 11px 12px 12px 11px/10px 10px 11px 11px;
				border-radius: 11px 12px 12px 11px/10px 10px 11px 11px;
				background-color: #cb944c;
				display: inline-block;
				position: relative;
				line-height: normal;
				text-align: center;
				margin: 0 10px;
				top: 4px;
				span {
					position: absolute;
					top: 1px;
					bottom: 0;
					right: 1px;
					left: 0;
					margin: auto;
					font-size: 14px;
					color: #fff;
				}
			}
		}
	}
}
.visible-xs {
	display: none!important;
}
.toggle_btn {
display: none;
height: 40px;
width: 54px;
position: absolute;
left: 0;
top: 0;
z-index: 200;
left: auto;
background-color: #3eade2;
}
.toggle_btn .sandwich {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.toggle_btn .sandwich span {
	height: 2px;
    width: 24px;
    position: relative;
    border-radius: 2px;
    left: 3px;
    background-color: #fff;
    display: block;
}
.toggle_btn .sandwich span.sw-topper {
	top: 6px;
    transition: transform 0.3s, top 0.2s;
}
.toggle_btn .sandwich span.sw-bottom {
	top: 12px;
    transition: transform 0.3s, top 0.2s;
    transition-delay: 0.1s, 0s;
}
.toggle_btn .sandwich span.sw-footer {
	top: 18px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}
.toggle_btn .sandwich.active .sw-topper {
	top: 15px;
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.toggle_btn .sandwich.active .sw-bottom {
	top: 13px;
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle_btn .sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
	.header__search {
		max-width: 320px;
	}
	.header__nav__login li:last-child {
		padding-right: 0;
	}
	.header__nav__menu {
		float: none;
		display: flex;
		justify-content: space-between;
	}
	.header__nav__login {
		display: block;
		float: right;
		margin-top: 20px;
	}
	.header__contact {
		padding-top: 0;
	}
	.header__nav {
		margin-left: 0;
		margin-right: 0;
	}
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.header__search {
		max-width: 220px;
	}
	.header__logo {
		max-width: 200px;
		padding-top: 0;
		img {
			width: 100%;
			max-width: 180px;
		}
	}
	header input::-webkit-input-placeholder {
		font-size: 10px;
		color: #b8b8bd;
	}

	header input::-moz-placeholder {
		font-size: 10px;
		color: #b8b8bd;
	}

	header input:-ms-input-placeholder {
		font-size: 10px;
		color: #b8b8bd;
	}

	header input:-moz-placeholder {
		font-size: 10px;
		color: #b8b8bd;
	}
	.header__search__search {
		height: 30px;
	}
	.header__search__submit {
		background-size: 30%;
	}
	.header__nav__menu {
		
	}
	.header__nav__menu li, .header__nav__login li {
		font-size: 13px;
	}
	.header__contact--phone {
		font-size: 20px;
	}
	.header__nav__login {
		margin-top: 14px;
	}
	.header__nav__menu li, .header__nav__login li {
		text-transform: uppercase;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
	.mobile_menu {
		display: block;
		background-color: #f0f1f6;
	}
	.toggle_btn {
		display: block;
	}
	header{
		padding: 0;
	}
	.header__nav {
		position: absolute;
		top: 40px;
		z-index: 322;
		background-color: #fff;
		text-align: center;
		width: 100%;
		line-height: normal;
		height: auto;
		&__menu {
			display: block;
		}
		li {
			display: block;
			padding: 10px 0!important;
			.header__nav__menu__submenu {
				position: static;
				max-width: 80%;
				background-color: #e9e9ea;
				border: 0;
				padding: 0;
				margin: 5px auto;
				box-shadow: none;
				border-radius: 0;
			}
		}
	}
	.header__nav__menu li:first-child:before, .header__nav__login li:first-child:before {
		display: none;
	}
	.header__nav__menu li .header__nav__menu__submenu li:before, .header__nav__login li .header__nav__menu__submenu li:before,.header__nav__menu li .header__nav__menu__submenu li.has_submenu:after, .header__nav__login li .header__nav__menu__submenu li.has_submenu:after {
		display: none;
	}
	.header__logo {
		padding-left: 20px;
	}
	.header__nav__menu li:first-child:after, .header__nav__login li:first-child:after {
		bottom: auto;
		top: 14px;
	}
	.header__nav__login {
		display: none;
	}
}
